.right-column-shell h3 {
    background: unset;
    color: #607d8b;
}

.right-column-shell ul {
    margin-left: 5px;
}

.right-column-shell>h1 {
    display: none;
    background: #8aa0ab;
    color: white;
    padding: 18px;
    font-size: 28px;
    margin-bottom: 5px;
}

@media (max-width: 769px) {
    .right-column-shell>h1 {
        display: flex;
        justify-content: center;
    }
}