.tile {
    padding: 10px;
    cursor: pointer;
    transition: .6s;
    border-radius: 5px;
}

.tile:hover {
    background: #d9dee0;
}

.tile h2 {
    font-family: 'oldClaude';
    font-size: 14px;
    text-align: center;
}

.not-updating {
    opacity: .25;
}

.image-frame {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 5px;
    margin: auto;
    position: relative;
}

.image-frame .icon-frame {
    position: absolute;
    background: rgba(255, 255, 255, 0.788);
    padding: 1px;
    bottom: 0;
    border-top-right-radius: 5px;
}

.image-frame>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name-frame {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}