.palette-display-shell .body-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.palette-display-shell .pair-shell {
    flex-direction: column;
    justify-content: unset;
    width: 49%;
}

.palette-display-shell .pair-shell>p {
    width: unset;
}

.palette-display-shell .pair-shell h3 {
    margin-bottom: 5px;
}

.palette-display-shell .pair-shell.full-width {
    width: 100%;
}

.palette-display-shell .pair-shell.full-width>div {
    display: flex;
    flex-wrap: wrap;
}

.palette-display-shell .pair-shell.full-width>div>a {
    font-size: 13px;
    font-family: "Source Sans 3", sans-serif;
    white-space: nowrap;
}

.palette-display-shell .pair-shell.full-width>div>p {
    margin-right: 3px;
}

@media (max-width: 500px) {
    .palette-display-shell .pair-shell {
        width: 100%;
    }
}