.column-shell {
    display: flex;
}

.left {
    min-height: 500px;
    width: 500px;
    padding: 15px;
}

.right {
    min-height: 500px;
    width: calc(100% - 500px);
    padding: 15px;
}

@media (max-width: 769px) {
    .column-shell {
        flex-direction: column;
        align-items: center;
    }

    .right {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .left {
        width: 100%;
    }
}