.Name-Header {
    margin: -16px -16px 0;
    padding: 30px 31px;
    background: #607d8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Name-Header .title-span {
    display: flex;
    align-items: center;
}

.Name-Header h1 {
    font-family: 'HamletOrNot';
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
}

.name-header-subtitle {
    display: flex;
    align-items: center;
}

@media (max-width: 426px) {
    .Name-Header {
        flex-direction: column;
        padding: 10px 0 4px;
        justify-content: center;
    }

    .Name-Header button.transparent-white {
        margin-top: 10px;
    }
}