.obstacle-shell select {
    width: 100%;
}

.obstacle-shell table {
    width: 350px;
    opacity: 1;
}

.obstacle-shell tr td:first-child {
    width: 25%;
}

.obstacle-shell > p {
    text-align: center;
    margin-top: 5px;
}

.obstacle-shell .complication-row td:first-child {
    text-align: right;
}