.obstacle-shell select {
    width: 100%;
}

.obstacle-shell table {
    width: 350px;
    opacity: 1;
}

.obstacle-shell tr th {
	font-family: 'oldClaude';
}

.obstacle-shell tr td:first-child {
    width: 25%;
}

.obstacle-shell > p {
    text-align: center;
    margin-top: 5px;
}

.obstacle-shell .complication-row td:first-child {
    text-align: right;
}

@media (max-width: 426px) {
    .obstacle-shell table {
        font-size: 15px;
    }

    .obstacle-shell table th {
        font-size: 18px;
    }

    tr.header-row th, tr.standard-row td {
        padding: 5px
    }

    .obstacle-shell button {
        padding: 10px;
    }
}