.obstacle-tile-row {
    overflow: unset;
    flex-wrap: wrap;
}

.card-background.catalog .obstacle-tile-row button {
    margin: 5px 10px 5px 0;
}

.obstacle-shortcut-dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #222222ad;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.obstacle-shortcut-dialog .obstacle-shell {
    margin: 35px auto;
    width: 350px;
    padding: 5px;
    background: white;
    border-radius: 5px;
}

.obstacle-tile {
    margin-right: 10px;
}

.card-background.catalog .obstacle-tile-row .obstacle-tile button {
    margin: 5px 0;
}

.obstacle-catalog h2.warning {
    font-style: unset;
    text-align: center;
    margin: 15px 0;
}