.role-select-shell .current-role-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.role-select-shell .role-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-top: 5px;
}

.role-select-shell button {
    margin-right: 0px;
}

.role-select-shell .role-options button {
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: 0 3px;
    background: transparent;
    text-align: left;
    width: 49%;
}

.role-select-shell .role-options button:hover:enabled {
    background: #f3f3f3;
}

.role-select-shell .role-options button span {
    color: gray;
    font-size: 10px;
}

@media (max-width: 500px) {
    .role-select-shell .role-options button {
        width: 100%;
    }
}
