button.location-display {
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f3f3f3;
}

button.location-display:hover {
    background: #e1e7ea;
}