.edit-body-shell .edit-body-display h1 {
    color: gray;
    font-size: 25px;
    border-bottom: 1px solid #e1e7ea;
    line-height: 100%;
    padding-bottom: 15px;
}

.edit-body-shell .edit-body-display select {
    margin-top: 15px;
}

.edit-body-shell .role-and-skull-shell {
    display: flex;
    justify-content: space-between;
}

.edit-body-shell .role-and-skull-shell select:first-child {
    margin-right: 15px;
}