.challenge-page-shell {
    min-height: calc(100vh - 280px);
}

.challenge-page-shell .card-background {
    min-height: unset;
}

.related-beasts {
    display: flex;
    flex-wrap: wrap;
}

.challenge-page-shell .editable-shell {
    display: flex;
}

.challenge-page-shell .editable-info {
    width: 100%;
    margin: 0 15px 0 0
}

.challenge-page-shell .editable-info textarea {
    width: 100%;
    height: 50%;
}

@media (max-width: 426px) {
    .challenge-page-shell .Name-Header {
        padding: 25px;
    }
}