.encounter-design-page {
    min-height: calc(100vh - 280px);
}

.card-background {
    min-height: unset;
}

.encounter-design-page .Name-Header {
    margin-bottom: 15px;
}

.encounter-design-page .drawer-innards h1 {
    padding: 5px 0;
    font-size: 13px;
    letter-spacing: 1px;
}

.encounter-design-page .drawer-innards h2 {
    font-size: 13px;
    font-weight: normal;
    padding: 5px 0;
    letter-spacing: 1px;
}

.encounter-design-page p {
    text-indent: 10px;
    padding: 3px 0
}

.encounter-design-page img {
    float: right;
    width: 50%;
}

.encounter-design-page img.inline {
    float: unset;
    width: 25%;
    margin: 5px 15px;
}

.encounter-design-page tr,
.encounter-design-page tr th {
    text-align: center;
}

.encounter-design-page tbody tr:nth-child(even) {
    background: whitesmoke;
}

.encounter-design-page tr th:first-child {
    text-align: left;
}

.encounter-design-page table.float-right {
    margin-left: 15px;
    float: right
}

.encounter-design-page table .bottom-border {
    border-bottom: 1px solid black;
}

.encounter-design-page table .gray {
    background: lightgray;
}

.encounter-design-page .objective-tables {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.encounter-design-page .objective-tables>div {
    width: 30%;
}

.encounter-design-page .objective-tables td {
    text-align: left;
}

.encounter-design-page .frame {
    background: lightcoral;
    border-radius: 5px;
    margin-top: 16px;
    overflow: hidden;
}

.encounter-design-page .frame img {
    float: unset;
    width: 100%;
}

.encounter-design-page .battlefield-preferences {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.encounter-design-page .battlefield-preferences>div {
    min-width: 100px;
}

.encounter-design-page .explanations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.encounter-design-page .explanation {
    display: flex;
    justify-content: space-between;
    width: 49%;
    min-width: 390px;
}

.encounter-design-page .explanation-images img {
    width: 100px;
}

.encounter-design-page .combat-calculator {
    border-radius: 5px;
    padding: 16px;
    background: white;
    margin: 16px 0;
    cursor: auto;
}

.encounter-design-page .combat-calculator>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.encounter-design-page .combat-calculator>div>div:first-child {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.encounter-design-page .combat-calculator input {
    background: #e1e7ea;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    min-width: 100px;
    text-align: center;
}

.encounter-design-page .combat-calculator>div>div:first-child input {
    text-align: left;
}

.encounter-design-page .combat-calculator span {
    display: flex;
}

.encounter-design-page .bottom-border {
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 8px;
    margin-bottom: 8px;
}