.encounter-design-home {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.encounter-design-home .card-background {
    min-height: unset;
    width: 30%;
    max-width: 450px;
    min-width: 225px;
    padding: 0;
    margin: 16px 5px;
    transition: 0.6s;
}

.encounter-design-home .card-background:hover {
    transform: scale(1.05);
}

.encounter-design-home .card-background h1 {
    text-align: center;
    font-size: 35px;
    padding: 15px 15px;
}