.encounter-design-page {
    min-height: calc(100vh - 280px);
}

.card-background {
    min-height: unset;
}

.encounter-design-page .Name-Header {
    margin-bottom: 15px;
}

.encounter-design-page .drawer-innards h1 {
    padding: 5px 0;
    font-size: 13px;
    letter-spacing: 1px;
}

.encounter-design-page .drawer-innards h2 {
    font-size: 13px;
    font-weight: normal;
    padding: 5px 0;
    letter-spacing: 1px;
}

.encounter-design-page p {
    text-indent: 10px;
    padding: 3px 0
}

.encounter-design-page img {
    float: right;
    width: 50%;
}

.encounter-design-page img.inline {
    float: unset;
    width: 25%;
    margin: 5px 15px;
}

.encounter-design-page tr,
.encounter-design-page tr th {
    text-align: center;
}

.encounter-design-page tbody tr:nth-child(even) {
    background: whitesmoke;
}

.encounter-design-page tr th:first-child {
    text-align: left;
}

.encounter-design-page table.float-right {
    margin-left: 15px;
    float: right
}

.encounter-design-page table .bottom-border {
    border-bottom: 1px solid black;
}

.encounter-design-page table .gray {
    background: lightgray;
}

.encounter-design-page .objective-tables {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.encounter-design-page .objective-tables>div {
    width: 30%;
}

.encounter-design-page .objective-tables td {
    text-align: left;
}

.encounter-design-page .frame {
    background: lightcoral;
    border-radius: 5px;
    margin-top: 16px;
    overflow: hidden;
}

.encounter-design-page .frame img {
    float: unset;
    width: 100%;
}