.encounter-design-page .Name-Header {
    margin-bottom: 15px;
}

.encounter-design-page .drawer-innards h1 {
    padding: 5px 0;
    font-size: 13px;
}

.encounter-design-page p {
    text-indent: 10px;
    padding: 3px 0
}

.encounter-design-page img {
    float: right;
    width: 50%;
}