.Name-Header {
    margin: -16px -16px 0;
    padding: 30px 31px;
    background: #607d8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Name-Header h1 {
    font-family: 'HamletOrNot';
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
}

.name-header-subtitle {
    display: flex;
    align-items: center;
}