.defense-edit-header {
    display: flex;
    align-content: center;
}

.defense-edit-header>div {
    width: 54px;
}

.defense-edit-header>p {
    font-style: italic;
    min-width: 100px;
    margin-left: 15px;
}

.defense-edit-row-shell {
    display: flex;
}

.defense-edit-row {
    display: flex;
    align-items: center;
}

.defense-edit-row>*:not(button) {
    margin-left: 15px;
    width: 100px;
}

.defense-add-row {
    margin-bottom: 30px;
}

.defense-add-row>button {
    float: right;
}