.role-shell {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8aa0ab;
    padding: 5px;
}

.role-shell h2, .role-shell p, .role-shell i {
    color: white;
    line-height: unset;
}

.role-shell i {
    font-size: 14px;
}

.skull-frame {
    display: flex;
    align-items: end;
}

.skull-frame i {
    margin-left: 5px;
}