.ProseMirror {
    border: 1px solid lightgrey;
    padding: 15px;
}

.ProseMirror:focus-visible {
    border: unset;
}

.control-group {
    display: flex;
    justify-content: space-between;
}

.control-group button {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f3f3f3;
    min-width: 30px;
}

.is-active {
    background: lightgrey;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ol, ul {
    list-style: unset;
    padding-left: 15px;
}