i {
    font-size: 13px;
    color: #607d8b;
}

.black-icon {
    color: black
}

.white-icon {
    color: white
}

.h2-size {
    font-size: 18px;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}

.margin-center {
    margin: 0 auto;
}