i {
    font-size: 13px;
    color: #607d8b;
}

.black-icon {
    color: black
}

.white-icon {
    color: white
}

.orange-icon {
    color: #ff5722
}

.red-icon {
    color: #990000
}

.yellow-icon {
    color: #ffd740
}

.yellow-icon:hover {
    color: #dbb839
}

.h1-size {
    font-size: 30px;
}

.h2-size {
    font-size: 18px;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}

.margin-center {
    margin: 0 auto;
}

.float-left {
    float: left;
}