.generated-loot-shell button {
    background: #ff5722;
    padding: 5px 10px;
    margin-left: 5px;
}

.generated-loot-shell button:hover {
    background: #ec5121;
}

.generated-loot-shell>.body-shell {
    padding-bottom: 5px;
}

.generated-loot-shell>.input-shell {
    display: flex;
    justify-content: end;
}

.generated-loot-shell>.body-shell p {
    text-indent: 20px;
    font-style: italic;
}

.generated-loot-shell>.body-shell ul {
    padding-left: 20px;
}