.obstacle-edit>button {
    width: 100%;
    margin-top: 150px;
}

.edit-obstacle-body {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.edit-obstacle-body>div {
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.edit-obstacle-body textarea {
    width: 50%;
    height: 100px;
    font-family: "Source Sans 3", sans-serif;
}

