.react-tooltip {
  max-width: 350px;
  white-space: pre-line
}

.background {
  background: grey;
  background-image: url('./assets/images/background.png');
  background-repeat: repeat;
  min-height: 100vh;
}

.container {
  width: 97vw;
  max-width: 1440px;
  margin: 0 auto;
}

.card-background {
  margin: 16px 0;
  padding: 16px;
  background: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  overflow: hidden;
  min-height: calc(100vh - 329px);
}