table {
    font-size: 13px;
    color: black;
    background: white;
}

table.second-column-center td:nth-child(2) {
    text-align: center;
}

thead {
    background: #795548;
    text-align: left;
    color: white;
    font-family: 'oldClaude';
    font-size: 15px;
}

tr.header-row {
    background: #4b4b4b;
    color: white;
    text-align: left;
    font-family: 'oldClaude';
}

tr.header-row th, tr.standard-row td {
    padding: 3px;
}

tr.standard-row {
    font-family: "Source Sans 3", sans-serif;
}

tr.standard-row:nth-child(even) {
    background: #f3f3f3;
}