h6 {
    background: #f3f3f3;
    color: #434343;
    padding: 3px 5px;
    font-size: 15px;
}

.defense-stats-shell>div {
    display: flex;
    justify-content: space-evenly;
}

.defense-stats-shell>.defense-stats-inner-shell>div {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    padding: 0 5px;
}

.defense-stats-shell>.defense-stats-inner-shell>div p {
    width: 45%;
    padding: 0 5px;
}

.defense-stats-shell>.defense-stats-inner-shell>div p:first-child {
    text-align: right;
}

.defense-stats-shell .html-display-shell {
    margin: 5px 9px;
    border-bottom: 1px solid #e1e7ea;
}