.strategic-options-component > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.strategic-options-component h3 {
    background: unset;
}

.strategic-options-component > div {
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
}

.strategic-options-component > div > p {
    padding: 3px 10px
}

.strategic-options-component button {
    background-color: #f3f3f3;
    margin-bottom: 5px;
    padding: 3px 10px;
}

.strategic-options-component button:hover {
    background-color: #e1e7ea;
}