.pair-shell {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pair-shell.heading {
    background: #e1e7ea;
    padding: 5px 3px;
    border-bottom: 2px solid white;
}

.pair-shell.heading.noBorder {
    border-bottom: unset;
}

.pair-shell p.justifiedRight, .pair-shell h3.justifiedRight {
    text-align: right;
    margin-right: 5px;
}

.pair-shell h3 {
    margin: 0;
    padding: 0;
}

.pair-shell.opposite p {
    text-align: right;
}

.pair-shell>p, .pair-shell>a {
    width: 50%;
}

.pair-shell p.unsetWith {
    width: unset;
}

.pair-shell p.minor {
    color: #434343;
}