.capacity-display {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.characteristic-info-shell .description-shell {
    display: flex;
}

.characteristic-info-shell .description-shell .pair-shell {
    width: 100%;
}

.characteristic-info-shell .description-shell .pair-shell p:last-child {
    text-align: center;
}

.characteristic-info-shell .description-row {
    width: calc(50% - 15px);
    padding-right: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}