.capacity-display {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.characteristic-info-shell .conviction-shell {
    display: flex;
}

.characteristic-info-shell .conviction-shell .pair-shell {
    width: 100%;
}

.characteristic-info-shell .conviction-shell .pair-shell p:last-child {
    text-align: center;
}