.header-background {
    height: 64px;
    padding: 6px 16px;
    background: #795548;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-background a {
    display: flex;
    align-items: center;
}

.header-background a:hover h1 {
    color: #d9dee0;
}

.header-background img {
    border-radius: 0;
    width: 65px;
}

.header-background h1 {
    font-size: 50px;
    color: white;
}

.header-background .header-nav {
    display: flex;
}

.header-nav a {
    margin-left: 10px;
}