.drawer-shell {
    background: #f3f3f3;
    height: 45px;
    overflow: hidden;
    cursor: pointer;
    min-width: 33%;
}

.drawer-shell .drawer-shell {
    background: #e1e7ea; 
}

.drawer-shell > div:first-child:hover {
    background: #e1e7ea;
}

.drawer-shell .drawer-shell > div:first-child:hover {
    background: #d9dee0;
}

.drawer-shell.open {
    height: unset;
    margin-bottom: 5px;
}

.drawer-shell.open:last-child {
    margin-bottom: 0;
}

.drawer-shell.open.open-top-margin {
    margin-top: 5px;
}

.drawer-shell h3 {
    padding: 15px
}

.drawer-shell.open > div:first-child {
    background: #e1e7ea;
}

.drawer-shell .drawer-shell.open > div:first-child {
    background: #d9dee0;
}

.drawer-shell > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.drawer-shell > div > p {
    font-style: italic;
}

.drawer-shell .drawer-header-shell > div {
    text-align: right;
}

.drawer-shell > div > h3, .drawer-shell > div > p, .drawer-shell .drawer-header-shell > div {
    width: 25%;
}

.drawer-shell .icon-shell {
    padding: 15px;
}

.drawer-innards {
    padding: 15px 25px
}

.drawer-innards .pleroma-description-shell {
    width: 100%;
}

.drawer-innards h3 {
    color: #222;
    font-size: 13px;
}