.skill-edit-body h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.skill-edit-body span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 3px
}

.edit-body-shell .skill-edit-body > span > select {
    margin: 0
}

.skill-edit-body span p {
    width: 30%;
}