.advanced-search-shell .drawers-shell {
    margin-top: 15px;
}

.advanced-search-innards-shell {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.advanced-search-innards-shell input {
    background: unset;
    width: 100%;
}

.advanced-search-innards-shell .inner-searches-shell {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.advanced-search-innards-shell select {
    border-bottom: 1px solid lightgray;
    width: 25%;
    border-radius: 0px;
}

.advanced-search-innards-shell .rating-shell {
    display: flex;
    align-items: center;
}

.advanced-search-innards-shell .checkbox-shell input {
    width: unset;
}