.tile {
    padding: 10px;
    cursor: pointer;
    transition: .6s;
}

.tile:hover {
    background: whitesmoke;
}

.tile h2 {
    font-family: 'oldClaude';
    font-size: 14px;
    text-align: center;
}

.not-updating {
    opacity: .25;
}

.image-frame {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.image-frame>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name-frame {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}