.tabs-shell {
    margin: 15px 0;
    display: flex;
}

.tabs-shell button {
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
    white-space: nowrap;
}

.tabs-shell button:hover {
    background: #c6cbce;
    border-bottom: 1px solid #e1e7ea;
}

.tabs-shell button.active {
    background: white;
    border-bottom: 1px solid white;
}

.tabs-shell button.active:hover {
    background: #e1e7ea;
}

.tabs-shell div.space {
    border-bottom: 1px solid #e1e7ea;
    width: 5px;
}

.tabs-shell div.space.leftOver {
    width: 100%;
}