.result-info-shell {
    margin: 15px 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-info-shell h2 {
    color: white;
}

.result-info-shell>span>p {
    width: 134px;
    color: white;
}

.result-info-shell>span>button {
    margin-right: 0;
}

.result-info-shell>span>button:first-child {
    margin-right: 15px;
}

.result-info-shell.no-results {
    text-align: center;
}

.result-sort-shell {
    display: flex;
    align-items: center;
}

.result-sort-shell p {
    color: white;
    margin: 0 3px;
}

.result-sort-shell p:nth-child(odd) {
    font-size: 18px;
    cursor: pointer;
}

.sort-option {
    padding: 2px 5px;
    border-radius: 5px;
}

.sort-option:hover {
    background: rgba(0, 0, 0, 0.25)
}

.is-the-active-sort {
    background: #ff5722;
}

.is-the-active-sort:hover {
    background: #ec5121;
}