.combat-table {
    display: flex;
    width: 200px;
}

.combat-table .combat-table-column:nth-child(2) {
    border-left: 1px solid #e1e7ea;
}

.combat-table-column {
    width: 50%;
}

.combat-table-column>div:nth-child(even) {
    background: #f3f3f3;
}

.combat-table-column>div {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}